{% extends 'base.html.twig' %}

{% block title %}SystemeSurveillance index{% endblock %}

{% block body %}
    <h1>SystemeSurveillance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Limite_critique</th>
                <th>Enregistrement</th>
                <th>Action_corrective</th>
                <th>Frequence_controle</th>
                <th>Responsable</th>
                <th>Verification</th>
                <th>Resultat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for systeme_surveillance in systeme_surveillances %}
            <tr>
                <td>{{ systeme_surveillance.id }}</td>
                <td>{{ systeme_surveillance.limiteCritique }}</td>
                <td>{{ systeme_surveillance.enregistrement }}</td>
                <td>{{ systeme_surveillance.actionCorrective }}</td>
                <td>{{ systeme_surveillance.frequenceControle }}</td>
                <td>{{ systeme_surveillance.responsable }}</td>
                <td>{{ systeme_surveillance.verification }}</td>
                <td>{{ systeme_surveillance.resultat }}</td>
                <td>
                    <a href="{{ path('systeme_surveillance_show', {'id': systeme_surveillance.id}) }}">show</a>
                    <a href="{{ path('systeme_surveillance_edit', {'id': systeme_surveillance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('systeme_surveillance_new') }}">Create new</a>
{% endblock %}
