{% extends 'base.html.twig' %}

{% block title %}CritereSurveille index{% endblock %}

{% block body %}
    <h1>CritereSurveille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Critere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for critere_surveille in critere_surveilles %}
            <tr>
                <td>{{ critere_surveille.id }}</td>
                <td>{{ critere_surveille.critere }}</td>
                <td>
                    <a href="{{ path('critere_surveille_show', {'id': critere_surveille.id}) }}">show</a>
                    <a href="{{ path('critere_surveille_edit', {'id': critere_surveille.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('critere_surveille_new') }}">Create new</a>
{% endblock %}
